<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <h5 class="my-2 me-4 font-weight-normal">SendSphere</h5>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="me-auto d-flex">
                <a class="p-3 btn btn-outline-primary me-2" href="/">Главная</a>
                <a class="p-3 btn btn-outline-primary me-2" href="/newsletter/contacts/">Контакты</a>
                <a class="p-3 btn btn-outline-primary" href="/newsletter/create/">Создать рассылку</a>
            </div>
            <div class="text-center mx-auto">
                <p class="border mb-1">Общее количество рассылок: <mark>{{ total_mailings }}</mark></p>
                <p class="border mb-1">Количество активных рассылок: <mark>{{ active_mailings }}</mark></p>
                <p class="border mb-1">Количество уникальных получателей: <mark>{{ unique_recipients }}</mark></p>
            </div>
            <div class="d-flex">
                {% if user.is_authenticated %}
                <div class="d-flex align-items-center">
                    <span class="me-2">Добро пожаловать: {{ user.username }}!</span>
                    <a class="btn btn-outline-primary me-2" href="/users/password_reset/">Сменить пароль</a>
                    <a class="btn btn-outline-primary" href="/users/logout/">Выйти</a>
                </div>
                {% else %}
                <a class="p-3 btn btn-outline-primary me-2" href="/users/login/">Войти</a>
                <a class="p-3 btn btn-outline-primary" href="/users/register/">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
    </div>
</nav>