<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список клиентов</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h1>Список получателей</h1>
<a href="{% url 'recipient_create' %}" class="btn btn-primary mb-3">Добавить нового</a>
<ul class="list-group">
{% for recipient in recipients %}
    <li class="list-group-item">
        {{ recipient.email }} ({{ recipient.fio }})
        <div class="mt-2">
            <a href="{% url 'recipient_update' recipient.id %}" class="btn btn-primary btn-sm">Редактировать</a>
            <a href="{% url 'recipient_delete' recipient.id %}" class="btn btn-danger btn-sm">Удалить</a>
        </div>
    </li>
{% endfor %}
</ul>
<script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}
</html>